body{
  margin: 0;
}
label{
  margin: 20px;
  margin-left: 0;
  font-size: 1.2rem;
}
h2{
  color: #fff;
  font-size: 1.5rem;
  padding: 5%;
  font-family:
}
p{
  padding: 5% 5% 0 3%;
  line-height: 1.3;
}

.head{
  background-color: #ff8c00;
  width: 100%;
  font-family: sans-serif;
}
.outer{
  width: 100%;
  display: flex;
  border-radius: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.box1{
  padding: 30px 8px 16px 0;
  font-size: 1.2rem;
  border-right: 2px solid #ff8c00;
  margin-right: 8px;
  font-weight: 400;
  line-height: 1.334;
  margin-top: 50px;

}
h5{
  padding: 0 0;
  font-size: 1.2rem;
  overflow-wrap: anywhere;
  font-weight: 400;
  line-height: 1.334;
  padding-left: 5px;
  margin-top: 80px;
}
.vl{
  border-left: 2px solid #ff8c00;
  display: inline-block;
  height: 60px;
  margin-bottom: 40px;
  margin:  6px 6px;
  position: relative;
  top: 30px;
}
.box{
  display: inline-block;
}
.box2{
  display: inline-block;
}

.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 1.5px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #666;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  left: 4px;
  margin: 0 15px 0 0;
  width: 16px;
  height: 16px;
  border-radius: 11px;
  border: 2px solid #ff8c00;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #ff8c00;
}
.submit{
  margin: 30px 20px 20px 20px;
  padding: 10px;
  color: #fff;
  background-color: #ff8c00;
  border: 0px;
  outline: none;
}
/* responsive designs */
@media (min-width: 700px) and (max-width: 1400px){
  h2{
    font-size: 2rem;
  }
}
@media (min-width: 600px){
  p{
    font-size: 1.6rem;
  }
}
